:root {
    --dark-grey: #18191a;
    --overlay-grey: #242526;
    --hover-grey: #3a3b3c;
    --primary-text: #e4e6eb;
    --secondary-text: #b0b3b8;
    --left-width: 50vw;
    --left-indent: 2vw;
    --input-space: 8px;
    --title-text: 1.6rem;
 }

 body {
    background-color: var(--dark-grey);
    color: var(--primary-text);
 }

.main-container {
    width: 300px;
    height: 300px;
    padding: 1em;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    background-color: var(--overlay-grey);
    border-radius: 8px;
}

.controls {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.choice-box {
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
    column-gap: 0.4em;
    
}


.round-info {
    display: flex;
    
}

.score-info {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}


#reset {
    margin: 0;
    position: absolute;
    top: 68%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.score {
    border: #e4e6eb;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    padding: 0.3em;
    width: 70px;
    height: 70px;

    text-align: center;
}

#round {
    padding-top: 0.5em;
}

#score {
    padding-bottom: 1em;
}

#result {
    font-size: 2em;

    margin: 0;
    position: absolute;
    top: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}